*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    padding: 50px 0px 0px 0px ;
    min-height: 100vh;
}

.header {
    padding: 50px 150px;
    width: 100%;
}

.header-nav-ul  {
    list-style: none;
}

.header-nav-ul-li  {
    margin-right: 40px;

}

.header-nav-ul-link{
    text-decoration: none;
}

.link {
    text-decoration: none;
    width: 200px;
}
    
.flex_row {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items:center
}

.justify-content-space-between {
    justify-content:space-between;
}

.justify-content-center {
    justify-content:center;
}

.Ciano_ligeiramente_dessaturado {
    color: #5FB4A2;
}

.Azul_escuro {
    color: #203A4C;
}

.Azul_Escuro_Cinzento {
    color: #33323D;
}

.Cinza_Muito_Claro {
    color:  #FAFAFA;
}

.Cinza_claro {
    color: #EAEAEB;
}

.Public_Sans {
    font-family: 'Public Sans', sans-serif;
}

.Ibarra_Real_Nova {
    font-family: 'Ibarra Real Nova', serif;
}

.button-sem-hover {
    all: unset;
    color: #203A4C;
    box-sizing: border-box;
    border: 1px solid #33323D;
    padding: 17px 45px;
    height: 48px;
    width: 250px;
}

.bnt-visitar {
    text-align: center;
    width: 200px;
}

.bnt-visitar:hover {
    background-color: #33323D;
    color: #fff;
}

.button_maior {
    all: unset;
    color: #FFFFFF;
    background-color: #203A4C;;
    box-sizing: border-box;
    text-align: center;
    padding: 17px 45px;
    height: 48px;
    width: 200px;
}

.button_maior:hover {
    background-color:  #5FB4A2;
}

.button_menor_contato {
    all: unset;
    color:#203A4C;
    box-sizing: border-box;
    border: 1px solid #33323D;
    text-align: center;
    padding: 17px 45px;
    height: 48px;
    width: 162px;
    font-family: 'Public Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: left;
}

.button_menor_contato:hover {
    background-color: #33323D;
    color: #FFFFFF;
}

.button_menor_enviar {
    all: unset;
    color: #FFFFFF;
    background-color: #203A4C;;
    box-sizing: border-box;
    text-align: center; 
    padding: 17px 45px;
    padding: 17px 45px;
    height: 48px;
    width: 162px;
}

.button_menor_enviar:hover {
    background-color:  #5FB4A2;
}

.input_mensagem {
    all: unset;
    box-sizing: border-box;
    background-color:rgba(192, 192, 192, 30%);
    height: 122px;
    width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input_mensagem:focus {
    box-shadow: 0px 0px 0px 3px black;
}

.input_nome-email {
    all: unset;
    box-sizing: border-box;
    background-color:rgba(192, 192, 192, 30%);
    height: 48px;
    width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input_nome-email:focus {
    box-shadow: 0px 0px 0px 3px black;
}

.linha-grande {
    height: 1px;
    width: 80%;
    margin-top: 80px;
    margin-left: 170px;
    background-color: silver;
}


.linha-alto {
    height: 1px;
    width: 500px;
    margin-top: 0px;
    margin-bottom: 90px;
    background-color:silver;
}


.linha-baixo {
    height: 1px;
    width: 500px;
    margin-top: 55px;
    margin-bottom: 0px;
    background-color:silver;
}


.footer {
    background-color: #33323D;
    width:  100%;;
    height: 100px;
    padding: 50px 150px;
}

.footer-nav1 {
    display: flex;
    align-items: center;
}

.footer-nav1-ul  {
    display: flex; 
    list-style: none;
    margin-left: 50px;
}

.footer-nav1-ul-link {
    text-decoration: none;
    color: #FFF;
    margin-right: 40px;
}

.footer-nav2 > * {
    margin-right: 30px;
}

.section-meio {
    height: 1000px;
    width: 80%;
    padding: 50px 0px 50px 170px;
    margin-bottom: 500px;
}

.section-meio_Manage {
    width: 500px;
}

.section-meio_Manage > * {
    margin-top: 20px;
}

.titulo {
    height: 42px;
    width: 430px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
}

.paragrafo {
    height: 180px;
    width:400px;
    font-size:20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.paragrafo2 {
    height: 180px;
    width:700px;
    top: 70px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.linha-alto {
    height: 1px;
    width: 500px;
    margin-top: 0px;
    margin-bottom: 13px;
    background-color:silver;
}

.linha-baixo {
    height: 1px;
    width: 500px;
    margin-top: 50px;  
    background-color:silver;
}

.section-meio_Projeto {
    width: 600px;
    height: 800px;
    padding: 0px 100px 0px 0px;
}

.section-meio_Projeto > *{
    margin-bottom: 30px;
}

.image {
    width: 750px;
    height: 500px; 
}

.atalho {
    margin-top: 30px;
    width: 90%;
    padding: 40px 0px 0px 160px;
}

.atalho-link:hover {
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.atalho-link-icons {
    height: 13px;
    width: 15px;
    margin-top: 20px;
}

.atalho-link-div {
    margin: 0px 20px;
}

.section-baixo {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90%;
    padding: 40px 0px 40px 160px;
}

.section-baixo-titulo {
    height: 84px;
    width: 367px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
}

