/**************section-Manage**********************/
.section {
   
    height: 700px;
    width: 90%;
    padding: 50px 0px 50px 170px;
}

.section_Sobre_projeto  {
    width: 500px;
}

.section-image {
    width: 50% ;
}

.titulo-Sobre-projeto {

    height: 42px;
    width: 430px;
   
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;

    margin-top: 100px;
    margin-bottom: 20px;


}

.paragrafo-Sobre-projeto {

    height: 180px;
    width:500px;
   
    font-size:20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

}

.bnt-projeto {

    all: unset;

    color:#203A4C;

    box-sizing: border-box;
    border: 1px solid #33323D;

    padding: 17px 45px;
    height: 48px;
   
    width: 200px;
    margin-bottom: 140px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
   
}

.bnt-projeto:hover {
    background-color: #33323D;
    color: #fff;
}

.link {
    text-decoration: none;
}


.section-baixo {
    margin-top: 100px;
    margin-bottom: 50px;

    width: 90%;
    padding: 40px 0px 40px 160px;
}

.section-baixo-titulo {
    height: 84px;
    width: 367px;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
}
