.section-alto {
    background-image: url("../../../assets/portfolio/bookmark/image-bookmark-hero.jpg");
    background-size:80%;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 800px;
}